* {
    box-sizing: border-box;
}

body {
    max-width: 60em;
    min-height: 100vh;
    padding: 0 1em;
    margin: auto;
    font: 1em/1.6 sans-serif;
}

body>* {
    margin:0 auto 1rem;
}

.w100{
    width: 100%;
}
.w50{
    min-width: 49%;
}
.center{
    text-align: center;
}

h1 {
    border-bottom: 3px solid #7792d5;
    display: inline-block;
}

.dropzone {
    display: inline-block;
    border: 2px dashed;
    min-width: 50%;
    font-size: 1rem;
}

.btn {
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.5em 2em;
    background-color: white;
    border: 1px solid;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    opacity: .6;
}

figure {
    display: inline-block;
    margin: 0 0.5rem;
    height: 12rem;
    min-width: 16rem;
    position: relative;
    background-color: #f0f0f0;
    background-size: auto 8rem;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

figure img {
    height: 10rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

figure figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}
