* {
    box-sizing: border-box
}

body {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 sans-serif;
    min-height: 100vh;
}

body>* {
    width: 100%;
}

.dropzone {
    display: inline-block;
    width: 50%;
    border: 2px dashed;
}

canvas {
    width: 100%;
    background: no-repeat center/75% url("./head.svg"), #f0f0f0;
}

.control {
    text-align: center;
}

.control>* {
    margin-top: 0.5em;
}

.btn {
    min-width: 32%;
    display: inline-block;
    padding: 0.5em;
    background-color: white;
    border: solid;
    text-decoration: none;
}

.btn:any-link:hover {
    opacity: .6;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#images figure {
    margin: 0;
    height: 12em;
    min-width: 16em;
    position: relative;
}

#images div span {
    display: inline-block;
}

#images img {
    height: 10em;
    margin: 0.4em;
}

#images figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sorting {
    background-color: blue;
}

#memoria_top {
    background: no-repeat center/75% url("./memoria_top.png"), #f0f0f0;
}

#memoria_bottom {
    background: no-repeat center/75% url("./memoria_bottom.png"), #f0f0f0;
}